<footer>
            <div class="container">
              <ul class="f16 list-inline">
                <li class="flag fr">France</li>
                <li class="flag de">Deutschland</li>
                <li class="flag nl">..</li>
              </ul>
              <p class="text-right">Dernière mise à jour: 09/11/2014</p>
            </div>
          </footer>
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="js/bootstrap.min.js"></script>
        </body>
        </html>