{% extends 'SMSMainBundle::layout.html.twig' %}
{% block container %}
        <main class="container days">
          <ul class="days__list list-inline">
            <li><a href="">1</a></li>
            <li class="active">2</li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">9</a></li>
            <li><a href="">10</a></li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
            <li>32</li>
            <li>33</li>
            <li>34</li>
          </ul>
          <div class="days__active">
            <h2>2ème journée du 09/10/2014 au 11/10/2014</h2>
            <table class="table table-hover table-condensed">
              <tbody>
                <tr>
                  <td>23/05/2009 15:30</td>
                  <td class=""><a href="">Energie Cottbus</a>   -    <a href="">Bayer Leverkusen</a></td>
                  <td>3 : 0</td>
                </tr>
                <tr>
                  <td>23/05/2009 15:30</td>
                  <td><a href="">Eintracht Frankfurt</a>   -    <a href="">Hamburger SV</a></td>
                  <td>2 : 3</td>
                </tr>
                <tr>
                  <td>23/05/2009 15:30</td>
                  <td><a href="">Arminia Bielefeld</a>   -    <a href="">Hannover 96</a></td>
                  <td>2 : 2</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-12">
                <a href="#" class="btn btn-default previous-day"><span class="glyphicon glyphicon-chevron-left"></span> Journée précédante</a>
                <a href="#" class="pull-right btn btn-default next-day">Journée suivante <span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
          </div>
          <div class="ranking">
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <a class="btn btn-default active" href="">Classement</a>
                  <a class="btn btn-default" href="">Domicile</a>
                  <a class="btn btn-default" href="">Extérieur</a>
                  <a class="btn btn-default" href="">Aller</a>
                  <a class="btn btn-default" href="">Retour</a>
                </div>
              </div>
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>J</th>
                  <th>G</th>
                  <th>N</th>
                  <th>P</th>
                  <th>Tore</th>
                  <th>Diff.</th>
                  <th>Pts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1 <span class="glyphicon glyphicon-arrow-up"></span></th>
                  <th>VfL Wolfsburg</th>
                  <th>34</th>
                  <th>21</th>
                  <th>6</th>
                  <th>7</th>
                  <th>80 : 41</th>
                  <th>39</th>
                  <th>69</th>
                </tr>
                <tr>
                  <th>2 <span class="glyphicon glyphicon-arrow-down"></span></th>
                  <th>Bayern München</th>
                  <th>34</th>
                  <th>20</th>
                  <th>7</th>
                  <th>7</th>
                  <th>71 : 42</th>
                  <th>29</th>
                  <th>67</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th>VfB Stuttgart</th>
                  <th>34</th>
                  <th>20</th>
                  <th>7</th>
                  <th>7</th>
                  <th>71 : 42</th>
                  <th>29</th>
                  <th>67</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th> Hertha BSC Berlin</th>
                  <th>34</th>
                  <th>20</th>
                  <th>7</th>
                  <th>7</th>
                  <th>71 : 42</th>
                  <th>29</th>
                  <th>67</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th>Hamburger SV</th>
                  <th>34</th>
                  <th>20</th>
                  <th>7</th>
                  <th>7</th>
                  <th>71 : 42</th>
                  <th>29</th>
                  <th>67</th>
                </tr>
                <tr>
                  <th>16</th>
                  <th>Energie Cottbus</th>
                  <th>34</th>
                  <th>20</th>
                  <th>7</th>
                  <th>7</th>
                  <th>71 : 42</th>
                  <th>29</th>
                  <th>67</th>
                </tr>
                <tr>
                  <th>17</th>
                  <th>Karlsruher SC</th>
                  <th>34</th>
                  <th>20</th>
                  <th>7</th>
                  <th>7</th>
                  <th>71 : 42</th>
                  <th>29</th>
                  <th>67</th>
                </tr>
                <tr>
                  <th>18</th>
                  <th>Arminia Bielefeld</th>
                  <th>34</th>
                  <th>20</th>
                  <th>7</th>
                  <th>7</th>
                  <th>71 : 42</th>
                  <th>29</th>
                  <th>67</th>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
        
{% endblock %}