{% extends 'SMSMainBundle::layout.html.twig' %}
{% block container %}
<main class="container tableau">
          <div class="row">
            <div class="col-sm-12  col-md-12">
              <table class="table table-hover table-condensed table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>KSC</th>
                    <th>Brem</th>
                    <th>Wolf</th>
                    <th>Cott</th>
                    <th>VfB</th>
                    <th>HSV</th>
                    <th>VfL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Karlsruher SC</th>
                    <th></th>
                    <th><a href="">1:0</a></th>
                    <th><a href="">2:1</a></th>
                    <th><a href="">0:0</a></th>
                    <th><a href="">0:2</a></th>
                    <th><a href="">3:2</a></th>
                    <th><a href="">1:0</a></th>
                  </tr>
                  <tr>
                    <th>Werder Bremen</th>
                    <th><a href="">1:3</a></th>
                    <th><a href=""></a></th>
                    <th><a href="">2:1</a></th>
                    <th><a href="">3:0</a></th>
                    <th><a href="">4:0</a></th>
                    <th><a href="">3:2</a></th>
                    <th><a href="">1:0</a></th>
                  </tr>
                  <tr>
                    <th>VfL Wolfsburg</th>
                    <th><a href="">1:0</a></th>
                    <th><a href="">2:1</a></th>
                    <th></th>
                    <th><a href="">0:0</a></th>
                    <th><a href="">0:2</a></th>
                    <th><a href="">3:2</a></th>
                    <th><a href="">1:0</a></th>
                  </tr>                  
                  <tr>
                    <th>Energie Cottbus</th>
                    <th><a href="">1:0</a></th>
                    <th><a href="">2:1</a></th>
                    <th><a href="">0:0</a></th>
                    <th></th>
                    <th><a href="">0:2</a></th>
                    <th><a href="">3:2</a></th>
                    <th><a href="">1:0</a></th>
                  </tr>                  
                  <tr>
                    <th>VfB Stuttgart</th>
                    <th><a href="">1:0</a></th>
                    <th><a href="">2:1</a></th>
                    <th><a href="">0:0</a></th>
                    <th><a href="">0:2</a></th>
                    <th></th>
                    <th><a href="">3:2</a></th>
                    <th><a href="">1:0</a></th>
                  </tr>                  
                  <tr>
                    <th>Hamburger SV</th>
                    <th><a href="">1:0</a></th>
                    <th><a href="">2:1</a></th>
                    <th><a href="">0:0</a></th>
                    <th><a href="">0:2</a></th>
                    <th><a href="">3:2</a></th>
                    <th></th>
                    <th><a href="">1:0</a></th>
                  </tr>
                  <tr>
                    <th>VfL Bochum</th>
                    <th><a href="">1:0</a></th>
                    <th><a href="">2:1</a></th>
                    <th><a href="">0:0</a></th>
                    <th><a href="">0:2</a></th>
                    <th><a href="">3:2</a></th>
                    <th><a href="">1:0</a></th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </main>    
{% endblock %}